* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff3e6;
  color: #333;
  line-height: 1.6;
}
header {
  padding: 20px 5%;
  display: flex;
  justify-content: center;
  background-color: #fff3e6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
.logo {
  height: 40px;
  margin: top left;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.btn-primary {
  background-color: #f77f00;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn-secondary {
  padding: 12px 20px;
  background-color: white;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  margin-left: 15px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 5%;
  max-width: 1200px;
  margin: auto;
}

.hero-text {
  flex: 1;
  padding-right: 40px;
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #555;
}

.hero-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.customers {
  display: flex;
  align-items: center;
  gap: 15px;
}

.customers img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
}

.hero-img{
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
  margin-top: 20px;
}

.hero-img img {
  border-radius: 10px;
  width: 230px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  position: absolute;
  float:right;
}